// ----------------------------------------
// Typography
// ----------------------------------------

h1,h2,h3,h4,
.navbar .nav > li > a,
#lofadvafooterfooter #lofadva-pos-1 .lof-text .custom-pos1 span,
.price_container,
.our_price_display,.price,
a.exclusive,
.sf-contener ul li a, 
#leobttslider67, 
#header_user ul li a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

#form-permanentlinks li.nav-item a,
input[type="submit"],
.price-from {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}
