// ---------------------------------------------------
	// Variables
// ---------------------------------------------------
$yb-color:			#78A942;
$yb-accent:			#01a0e5;

$text-light: 		#cecece;
$text-dark: 		#404041;

$link-color: 		$yb-accent;
$link-hover: 		darken($link-color, 20%);
$link-active: 		darken($link-color, 60%);

$black: 		#151515;
$white: 		#ffffff;
$dark-grey:		#404041;

// ---------------------------------------------------
	// General
// ---------------------------------------------------